trigger:
  - none

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Install Node.js"

  - script: |
      npm install
      npx playwright install
      npm test
    displayName: "Install and Test"

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: "VSTest"
      testResultsFiles: "**/*.trx"
      failTaskOnFailedTests: false
    displayName: Publish Test Results

  - script: |
      if [ "$(TestResultFailures)" != "0" ]; then
        echo "##vso[task.complete result=SucceededWithIssues;]"
      fi
    displayName: Set Job Atatus to Amber if failures
